.footer {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding-bottom: 60px;
  padding-top: 67px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  max-width: 880px;
}

.footer__text {
  color: #545454;
  margin: 0;
  max-width: 880px;
}

@media screen and (max-width: 400px) {
  .footer {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    padding: 48px 19px 36px 19px;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}
