.header {
  background-color: #000;
  max-width: 1280px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #545454b3;
}

.header__logo {
  margin: 45px auto 41px 0;
  width: 173px;
}

@media screen and (max-width: 870px) {
  .header {
    margin: 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px 167px 32px 27px;
  }
}
