.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

.modal_opened {
  display: flex;
  transition-delay: 0.3s;
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  width: 358px;
}

.modal__close {
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  border: none;
  background-color: transparent; 
  background-size: contain;
  background: url("../images/vectors/close.svg") no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 1;
  transition: ease-in-out 0.3s;

}

.modal__close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__heading {
  max-width: 330px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 54px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__form-input {
  height: 27px;
  margin-bottom: 30px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0em;
  text-align: left;
}

.modal__form-input:last-of-type {
  margin-bottom: 0;
}

.modal__form-input::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: black;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin-top: 48px;
  max-width: 358px;
  height: 50.15px;
  width: 430px;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .modal__container {
    width: 252px;
    padding: 25px 22px 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 0px;
  }

  .modal__heading {
    width: 238px;
    margin-bottom: 75px;
    font-size: 18px;
  }

  .modal__button {
    width: 238px;
  }
}

/*coppied below*/

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  margin: auto;
  position: relative;
}

.modal__image-name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  max-width: 281px;
  height: 12px;
  text-align: left;
  color: white;
}

@media screen and (max-width: 470px) {
  .modal__form {
    max-width: 282px;
  }
  .modal__close {
    top: -72.62px;
    right: -18.62px;
    left: 264.62px;
    width: 26px;
    height: 26px;
  }

  .modal__container {
    max-width: 282px;
    padding: 22px;
  }

  .modal__button {
    width: 100%;
    max-height: 46px;
  }

  .modal__input {
    width: 100%;
    max-height: 27px;
  }
}
